@inject MainViewModel ViewModel
@using BlazorUIMongo.Data
@using BlazorUIMongo.Services
@using BlazorUIMongo.ViewModels
<EditForm Model="@_tmp" OnValidSubmit="@Submit">
    <div >
        <div >
            <label>Name:</label>
            <input type="text" @bind="_tmp.Name" />
        </div>
        <div >
            <label>Number</label>
            <input type="number" min="1" step="1" @bind="_tmp.Number" />
        </div>
        <div >
            <label>Team</label>
            <input type="text" @bind="_tmp.Team" />
        </div>
        <div >
            <button  type="submit">Add Expense</button>
        </div>
    </div>

</EditForm>

@code {
    private Driver? _tmp =null;

    private void Submit()
    {
        if (_tmp != null) ViewModel.Drivers.Add(_tmp);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _tmp = new();
    }

}
