@using BlazorUIMongo.Services
@using BlazorUIMongo.Data
@using BlazorUIMongo.Collections
@using BlazorUIMongo.ViewModels
<h3>DriverComponent</h3>
@inject MainViewModel ViewModel;
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Team</th>
            <th>Number</th>
            <th>Delete</th>
        </tr>
    </thead>
<tbody>
@foreach (var driver in ViewModel.Drivers)
{
    <tr>
        <td>@driver.Id</td>
        <td>@driver.Name</td>
        <td>@driver.Team</td>
        <td>@driver.Number</td>
                <td><button @onclick="() => DeleteDriver(driver)" type="button">Delete Driver</button></td>
    </tr>
}
</tbody>
</table>
@code {
    protected override void OnInitialized()
    {
        ViewModel.Drivers.CollectionChanged += (s, e) =>
        {
            StateHasChanged();
        };
    }

    private void DeleteDriver(Driver driver)
    {
        ViewModel.Drivers.Remove(driver);
    }

}
