@page "/fetchdata"
@using BlazorUIMongo.Components;
<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>
<CreateDriverComponent></CreateDriverComponent>


<DriverComponent></DriverComponent>


@code {
    
}
